body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.index {
  padding: 0;
  margin: 5% 15%;
}

.navigation {
  margin: 0;
  padding: 0% 15% !important;
  position: sticky !important;
  background-color: #ffffff;
  color: #262c30;
}

.filters {
  background-color: rgba(38, 44, 48, 1);
  text-align: center;
}

.navTitle {
  color: #262c30;
  text-decoration: none;
}

.btnDetails {
  background-color: #262c30 !important;
  padding: 10% 20% !important;
  color: white !important;
}
.btnFilter {
  padding: 0.5% !important;
  margin: 0.5% 2% !important;
  color: white !important;
}

.animals {
  color: #f9a16f;
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  padding: 0% 0%;
}

.animalsBtn {
  background-color: #f9a16f !important;
  color: white !important;
}

.accessoriesBtn {
  background-color: #71c0ba !important;
  color: white !important;
}

.foodBtn {
  background-color: #579043 !important;
  color: white !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
