body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 0;
  margin: 5% 15%;
}

.menuButton {
  margin: 0 0.5em !important;
  border-radius: 4px !important;
}

.paybtn {
  background-color: #f9a16f !important;
  color: #ffffff !important;
  padding: 1em !important;
}

.basketButton {
  background-color: #579043 !important;
  margin-right: 0.5em !important;
  color: #ffffff !important;
  height: 2em;
  width: 2em;
  border-radius: 4px !important;
}

.overlay {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.form-row {
  text-align: center;
  padding: 2em;
}

.bgOverlay {
  background-color: rgba(38, 44, 48, 0.5) !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
}

.navItemBtn {
  color: white !important;
  text-align: center !important;
  padding: 2 !important;
  text-transform: uppercase;
}

.MuiList-padding {
  padding-bottom: 0 !important;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.title {
  text-decoration: none;
  color: #000000;
  flex: 1;
}

.right {
  float: right !important;
  width: fit-content;
}

.navigation {
  margin: 0;
  padding: 0% 15% !important;
  position: sticky !important;
  background-color: #ffffff;
  color: #262c30;
}

.filters {
  background-color: rgba(38, 44, 48, 1);
  text-align: center;
}

.navTitle {
  color: #262c30;
  text-decoration: none;
}

.btnDetails {
  background-color: #262c30 !important;
  padding: 10% 20% !important;
  color: white !important;
}
.btnFilter {
  padding: 0.5% !important;
  margin: 0.5% 2% !important;
  color: white !important;
}

.animals {
  color: #f9a16f;
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  padding: 0% 0%;
}

.animalsBtn {
  background-color: #f9a16f !important;
  color: white !important;
}

.accessoriesBtn {
  background-color: #71c0ba !important;
  color: white !important;
}

.foodBtn {
  background-color: #579043 !important;
  color: white !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
